/* COMMON STYLING*/
html,
body,
h1,
h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* To stop X overflow from creating a horizontal scroll bar */
}

/* Light / Dark Mode */
:root,
[data-theme="light"] {
  --text-color: black;
  --drop-shadow-color: grey;
  --bg-color: white;
  --drop-shadow-displacement: -2px -1px;
  filter: brightness(100%);
}

[data-theme="dark"] {
  --text-color: white;
  --drop-shadow-color: black;
  --bg-color: black;
  --drop-shadow-displacement: 2px 2px;
  filter: brightness(75%);
}

/* Drop Shadow for readability due to noisy BGs*/
.drop-shadow-2px {
  filter: drop-shadow(var(--drop-shadow-color) var(--drop-shadow-displacement));
}

.no-pointer-events {
  pointer-events: none;
}

/* HEADER */
header {
  position: fixed;

  display: flex;
  align-items: center;
  padding: 2.5rem 3rem;
  gap: 3rem;
  z-index: 1;
  width: 100%;
}

header h1 {
  color: var(--text-color);
}

.heading-subtitle {
  position: absolute;
  font-weight: bold;
  bottom: 27.5px;
  left: 37.5px;
  font-size: 14px;
  color: var(--text-color);
}

/* NAV */
nav {
  display: flex;
  gap: 2.5rem;
  text-transform: uppercase;
  align-items: center;
}

a {
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Mode Button */
#mode-toggle {
  overflow: hidden;
  width: 120px;
  height: 25px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Removed due to transform update breaking fixed positioning
#brightness-slider {
  z-index: 1;
  position: absolute;
  right: 277.5px;
  top: 75px;
  width: 100px;
}

#slider-descriptor {
  position: absolute;
  font-size: 16px;
}
*/

/* Background */
.feature {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* BG Images */
.image-tower {
  background-image: url("./assets/img/bg_img/mc1.jpg");
}
.image-hill {
  background-image: url("./assets/img/bg_img/mc2.jpg");
}
.image-cave {
  background-image: url("./assets/img/bg_img/mc3.jpg");
}

/* Article Content */
article {
  position: absolute;
  bottom: 200px;
  left: 3rem;

  display: flex;
  flex-direction: column;

  color: var(--text-color);
}

article h2 {
  font-size: 1.2rem;
}

article h1 {
  font-size: 2.5rem;
}
article a {
  text-align: center;
  margin-top: 20px;
  width: 250px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border: solid 5px;
  border-color: invert(var(--bg-color));
}

article a:hover {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* FOOTER */
#footer-date {
  width: 100%;
  padding: 25px 0;

  background-image: url("./assets/img/bg_img/grassblock.jpg");
  background-size: contain;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  color: var(--text-color);
  background-color: var(--bg-color);
}
