/* COMMON STYLING*/
html,
body,
h1,
h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* To stop X overflow from creating a horizontal scroll bar */
}

/* Light / Dark Mode */
:root,
[data-theme="light"] {
  --color-text: black;
  --drop-shadow-color: white;
  --bg-color: white;
}

[data-theme="dark"] {
  --color-text: white;
  --drop-shadow-color: black;
  --bg-color: black;
}

/* Drop Shadow for readability due to noisy BGs*/
.drop-shadow-2px {
  filter: drop-shadow(var(--drop-shadow-color) 2px 2px);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 2.5rem 3rem;
  gap: 3rem;
  z-index: 1;
}

header h1 {
  color: var(--color-text);
  pointer-events: none;
}

/* NAV */
nav {
  display: flex;
  gap: 2.5rem;
  text-transform: uppercase;
  align-items: center;
}

nav a {
  margin-top: 4px; /* Minor adjustment*/
  font-weight: 700;
  color: var(--color-text);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

header button {
  height: 32px;
  width: 32px;
  background-color: black;
}
/* BACKGROUND*/
.global-background {
  height: 100vh;
  width: 120%;
  margin: -10px;
  background-size: cover;
  background-position: center;
}

/* BG Images */
.image-tower {
  background-image: url("./assets/img/bg_img/mc1.jpg");
}
.image-hill {
  background-image: url("./assets/img/bg_img/mc2.jpg");
}
.image-cave {
  background-image: url("./assets/img/bg_img/mc3.jpg");
}

/* Mode Button */
#mode-toggle {
  color: var(--color-text);
  background-color: var(--bg-color);
}

/* Article Content */
.feature {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

article {
  color: var(--color-text);
  position: absolute;
  display: flex;
  flex-direction: column;
}
/* FOOTER */
footer {
  width: 100%;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}
